.reveal .title {
  font-size: 2em;
}

.reveal h1 {
    font-size: 1.5em;
}

.reveal p {
    font-size: 0.8em;
}

.reveal blockquote {
    font-size: 0.5em;
}

.reveal ul, .reveal ol {
    font-size: 0.75em;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    text-align: right;
    font-size: 0.5em;
    font-style: italic;
}

.reveal section img {
    border: none;
    box-shadow: none;
}
